In [55]:
from pandas_highcharts.display import display_charts
from pandas_highcharts.core import serialize
import pandas as pd
import urllib.request
import json

In [2]:
data = pd.read_csv("G://gongxiang//busyZones.csv",header=None,names=("area","counts"))

In [10]:
data

   area  counts
0     1     721
1     6      67
2     3   29451
3     5   40994
4     9   18575
5     4    1742
6     8    3296
7     7   13837
8     2    7015
9     0   47458

In [5]:
display_charts(data,title="区域打车次数")

In [26]:
pre = pd.read_csv("G://gongxiang//kmresult2.csv",header=None,names=("lon","lat"))

In [27]:
pre["area"] = pre.index

In [28]:
df = pd.merge(data,pre,on="area",how="left")

In [32]:
def foundloc(lon,lat):
    url="http://api.map.baidu.com/geocoder/v2/?location=%f,%f&output=json&ak=Yrf32LVk9DEHOYchZAQlG9nFICRTst5V"%(lat,lon)
    req = urllib.request.urlopen(url)#JSON格式的返回数据
    res = req.read().decode("utf-8") #将其他编码的字符串解码成unicode
    temp = json.loads(res)
    return temp["result"]["formatted_address"]

In [34]:
lon = list(df["lon"])

In [36]:
lat = list(df["lat"])

In [63]:
situation = zip(lon,lat)

In [64]:
situa = []

In [65]:
for i in situation:
    situa.append(foundloc(i[0],i[1])[6:-1])

In [77]:
df["name"] = situa

In [92]:
df

   area  counts         lon        lat        name
0     1     721  103.629988  30.926785    都江堰市中大街4
1     6      67  103.693210  30.595090       崇州市滨河
2     3   29451  104.070300  30.615314  武侯区火车南站西路8
3     5   40994  104.020308  30.664854       青羊区家园
4     9   18575  104.078418  30.704787  金牛区站北东街123
5     4    1742  103.891679  30.728849          温江
6     8    3296  104.057596  30.528280     双流县滨河路2
7     7   13837  104.142686  30.637684      成华区雅砻江
8     2    7015  103.983156  30.587366      武侯区凉港三
9     0   47458  104.078021  30.656352    锦江区锦兴路38

In [78]:
df1 = df[["counts","name"]]

In [89]:
df1

   counts        name
0     721    都江堰市中大街4
1      67       崇州市滨河
2   29451  武侯区火车南站西路8
3   40994       青羊区家园
4   18575  金牛区站北东街123
5    1742          温江
6    3296     双流县滨河路2
7   13837      成华区雅砻江
8    7015      武侯区凉港三
9   47458    锦江区锦兴路38

In [90]:
df1 = df1.set_index("name")

In [91]:
display_charts(df1,title="区域打车次数")

In [103]:
display_charts(df1, kind='pie', y=['counts'], title='Angel Deals By Sector', tooltip={'pointFormat': '{series.name}: <b>{point.percentage:.1f}%</b>'})